.navbar-custom {
  background-color: teal;
  background-image: none;
  background-repeat: no-repeat;
}
nav link{
  font-size: 1.5em;
}
footer{
  background-color: teal;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.welcome-screen-info{
  text-align: center;
}
.welcome-user-options{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  height: 30vh;
  background-color: grey;
}
.group-name-input-div{
  text-align: center;
}
.group-name-input{
  text-align: center;
  display: inline-block;
  margin: auto;
}
input[type=text]{
  text-align: center;
}
.music-queue{
  text-align: center;
}
#queue-anims{
  display: flex;
  border-style: solid;
  margin-top: 10px;
}
#queue-anim1{
  border-style: solid;
  margin-top: 10px;
  text-align: center;
  font-size: 1.8em;
  width: 50vw;
}
#queue-anim2{
  border-style: solid;
  flex: 1;
  text-align: center;
  margin-top: 10px;
}